# AlphaVantage API configuration
ALPHAVANTAGE_API_KEY=your_api_key_here

# database configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=finance_db
DB_USER=finance_user
DB_PASSWORD=finance_password

# AWS credentials
AWS_REGION=us-east-1
AWS_ACCESS_KEY=your_aws_access_key_here
AWS_SECRET_KEY=your_aws_secret_access_key_here

# S3 configuration
S3_BUCKET_NAME=your_s3_bucket_name_here

# Redshift serverless configuration
REDSHIFT_HOST=your_redshift_workgroup_name.your_aws_account_id.your_aws_region.redshift-serverless.amazonaws.com
REDSHIFT_PORT=5439
REDSHIFT_NAME=finance_db
REDSHIFT_USER=finance_redshift_user
REDSHIFT_PASSWORD=Finance_redshift_password0
REDSHIFT_IAM_ROLE=arn:aws:iam::your_aws_account_id:role/your_RedshiftS3ReadRole

# default database engine
DB_ENGINE=redshift