# Core data processing
pandas

# Database connectivity
psycopg2-binary
redshift-connector
sqlalchemy

# HTTP client (Alpha Vantage API)
requests

# AWS S3
boto3

# Environment variables
python-dotenv

# Workflow orchestration
apache-airflow

# Testing
pytest
moto[s3]

# data build tool
dbt-redshift
sqlfluff

# sec edgar api
sec-edgar-api